<div class="sticky-top space-before">
    <div class="card bg-light mb-3 space-before">
        <div class="card-body">
            <ul class="nav flex-column nav-pills header-list">
            </ul>
            <div class="d-flex align-items-center mt-2">
                <span class="icon grey mr-1">
                    {% include entypo/arrow-left.svg %}
                </span>
                <a href="{{ site.baseurl }}{% link list/labs.md %}">All labs</a>
            </div>
        </div>
    </div>
</div>
